<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Home Page</title>
	<meta name="description" content="Secure page for Wingroad.">
	<meta name="viewport" content="width=device-width; initial-scale=1.0;">
	<meta name="author" content="Baran Babur">
	<link href="styles/style.css" type="text/css" rel="stylesheet" />
	<link href="styles/index.css" type="text/css" rel="stylesheet" />
</head>

<body>
	<header id="nav">
		<div class="nav-heading">
			<h1>
				<a href="/">Wingroad</a>
			</h1>
			<div class="nav-buttons">
				<button type="button" id="navBtn">
					<i class="fas fa-bars" id="navBurger"></i>
					<i class="fas fa-times hidden" id="navClose"></i>
				</button>
			</div>
		</div>

		<div class="hidden" id="navLinks">
			<a href="/" class="">Home</a>
			{{#if authorised}}
			<a href="/logout">Log out</a>
			{{else}}
			<a href="/login">Log in</a>
			<a href="/register">Register</a>
			{{/if}}
			<button id="theme">Toggle Theme</button>
		</div>
	</header>
	{{#if msg}}
	<aside>
		<p class="msg">{{msg}}</p>
	</aside>
	{{/if}}
	<main>
		<p>These are your items. Here you can update the details as well as delete your items.</p>
		<form action="/add" method="POST" enctype="multipart/form-data">
			<p>
				<label for="itemName">Name</label><br />
				<input type="text" name="itemName" placeholder="Name of item" autofocus value="{{body.itemName}}">
			</p>
			<label for="select">Status</label>
			<div class="select">
				<select name="status" class="select-status" value="{{body.status}}">
					<option value="for sale" selected>For Sale</option>
					<option value="under offer">Under Offer</option>
					<option value="sold">Sold</option>
				</select>
			</div>
			<p>
				<label for="description">Description</label><br />
				<textarea name="description" placeholder="Description of your item" rows="4"
					value="{{body.description}}"></textarea>
			</p>
			<p>
				<label for="price">Price</label><br />
				<input type="number" name="price" placeholder="Your asking price" value="{{body.price}}">
			</p>
			<p>
				<label for="thumbnail">Image</label><br />
				<input type="file" accept="image/*" name="thumbnail">
			</p>
			<button class="update" type="submit">
				Add
			</button>
		</form>
	</main>
	<script src="https://kit.fontawesome.com/5fb363ed32.js" crossorigin="anonymous"></script>
	<script type="module" src="main.js"></script>
</body>

</html>