<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Log In</title>
	<meta name="description" content="Login to Wingroad using your username and password!">
	<meta name="viewport" content="width=device-width; initial-scale=1.0;">
	<meta name="author" content="Baran">
	<link href="{{host}}/styles/style.css" type="text/css" rel="stylesheet" />
	<script type="module" src="main.js"></script>
</head>

<body>
	<header id="nav">
		<div class="nav-heading">
			<h1>
				<a href="/">Wingroad</a>
			</h1>
			<div class="nav-buttons">
				<button type="button" id="navBtn">
					<i class="fas fa-bars" id="navBurger"></i>
					<i class="fas fa-times hidden" id="navClose"></i>
				</button>
			</div>
		</div>

		<div class="hidden" id="navLinks">
			<a href="/" class="">Home</a>
			{{#if authorised}}
			<a href="/logout">Log out</a>
			{{else}}
			<a href="/login">Log in</a>
			<a href="/register">Register</a>
			{{/if}}
			<button id="theme">Toggle Theme</button>
		</div>
	</header>
	{{#if msg}}
	<aside>
		<p class="msg">{{msg}}</p>
	</aside>
	{{/if}}
	<main>
		<form action="/login" method="post">
			<p>
				<label for="user">Username</label><br />
				<input type="text" name="user" placeholder="your username" value="{{body.user}}" autofocus>
			</p>
			<p>
				<label for="pass">Password</label><br />
				<input type="password" name="pass" placeholder="your password" value="{{body.pass}}">
			</p>
			<input type="hidden" name="referrer" value="{{referrer}}">
			<p><input type="submit" value="Log in"></p>
		</form>
	</main>
	<script src="https://kit.fontawesome.com/5fb363ed32.js" crossorigin="anonymous"></script>
	<script type="module" src="main.js"></script>
</body>

</html>