<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Create an Account</title>
	<meta name="description" content="Register for Wingroad here using your email address.">
	<meta name="viewport" content="width=device-width; initial-scale=1.0;">
	<meta name="author" content="Baran Babur">
	<link href="{{host}}/styles/style.css" type="text/css" rel="stylesheet" />
	<script type="module" src="main.js"></script>
</head>

<body>
	<header id="nav">
		<div class="nav-heading">
			<h1>
				<a href="#">Wingroad</a>
			</h1>
			<div class="nav-buttons">
				<button type="button" id="navBtn">
					<svg class="h-6 w-6 fill-current" width="24" height="24" viewBox="0 0 24 24">
						<path id="navBurger" d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z" />
						<path id="navClose" class="hidden"
							d="M12 11.293l10.293-10.293.707.707-10.293 10.293 10.293 10.293-.707.707-10.293-10.293-10.293 10.293-.707-.707 10.293-10.293-10.293-10.293.707-.707 10.293 10.293z" />
					</svg>
				</button>
			</div>
		</div>

		<div class="hidden" id="navLinks">
			<a href="/" class="">Home</a>
			{{#if authorised}}
			<a href="/logout">Log out</a>
			{{else}}
			<a href="/login">Log in</a>
			<a href="/register">Register</a>
			{{/if}}
			<button id="theme">Toggle Theme</button>
		</div>
	</header>
	{{#if msg}}
	<aside>
		<p class="msg">{{msg}}</p>
	</aside>
	{{/if}}
	<main>
		<form action="/register" enctype="multipart/form-data" method="post">
			<p>
				<label for="user">Username</label><br />
				<input type="text" name="user" placeholder="your preferred username (no spaces)" value="{{body.user}}">
			</p>
			<p>
				<label for="pass">Password</label><br />
				<input type="password" name="pass" placeholder="your chosen password" autocomplete="new-password"
					value="{{body.pass}}">
			</p>
			<p>
				<label for="email">Email</label><br />
				<input type="email" name="email" placeholder="a valid email address" value="{{body.email}}">
			</p>
			<p>
				<label for="phone">Phone number</label><br />
				<input type="tel" name="phone" placeholder="your phone number" value="{{body.phone}}">
			</p>
			<p><input type="submit" value="Create"></p>
		</form>
	</main>
</body>

</html>